# Copyright (c) 2020 Ryan Cross
# SPDX-License-Identifier: MIT

if SHIELD_NICHE_LEFT
 
config ZMK_KEYBOARD_NAME
    default "Niche65"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_NICHE_LEFT || SHIELD_NICHE_RIGHT

config ZMK_SPLIT
    default y

config ZMK_STUDIO
    default y

endif
