# Copyright (c) 2020 Ryan Cross
# SPDX-License-Identifier: MIT

config SHIELD_NICHE_LEFT
    def_bool $(shields_list_contains,niche_left)

config SHIELD_NICHE_RIGHT
    def_bool $(shields_list_contains,niche_right)
